doc-proxy/examples/HKP_FEH_TECH_1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gkv-datenaustausch.de/XMLSchema/HKP_FEH_TECH/1.0" xmlns:slpbas="http://www.gkv-datenaustausch.de/XMLSchema/SLP_BAS/1.0" xmlns:bas="http://www.gkv-datenaustausch.de/XMLSchema/HKP_BAS/1.0" xmlns:feh_tech="http://www.gkv-datenaustausch.de/XMLSchema/HKP_FEH_TECH/1.0" targetNamespace="http://www.gkv-datenaustausch.de/XMLSchema/HKP_FEH_TECH/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.gkv-datenaustausch.de/XMLSchema/SLP_BAS/1.0" schemaLocation="SLP_BAS_1.0.0.xsd"/>
	<xs:import namespace="http://www.gkv-datenaustausch.de/XMLSchema/HKP_BAS/1.0" schemaLocation="HKP_BAS_1.0.0.xsd"/>
	<xs:complexType name="Fehlernachricht_technisch_Ctp">
		<xs:annotation>
			<xs:documentation>Fehlernachricht_technisch</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Datei_ID" type="slpbas:UUID_Stp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eindeutige Datei-ID der fehlerhaften Datenlieferung, auf die sich die Fehlernachricht bezieht. Kann fehlen, wenn die Entschlüsselung oder die Signaturprüfung der Nutzdatendatei fehlgeschlagen ist
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message_ID" type="slpbas:MessageID_Stp">
				<xs:annotation>
					<xs:documentation>Message-ID der KIM-Nachricht auf die sich die Fehlernachricht bezieht bzw. Message-ID der KIM-Nachricht mit der der fehlerhafte Datensatz übermittelt wurde, auf den sich die Fehlernachricht bezieht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fehler">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fehlerinformation" maxOccurs="99">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Fehlercode" type="bas:Fehlercode_Stp">
										<xs:annotation>
											<xs:documentation>Fehlercode gemäß Schlüsselverzeichnis 3.1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Fehlertext" type="slpbas:Freitext_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fehlertext, ggf. Fehlermeldung des XML-Parsers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="XPath" type="slpbas:Freitext_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>XPath-Ausdruck der das fehlerhafte Element identifiziert</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>